.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.sideNav {
  padding: 20px;
  width: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  
   /* Make it grow and fill the available height */
}

.dashBoardBody {
  background-color: rgb(246, 255, 255);
  flex-direction: column;
  align-items: center;
  height: fit-content;
  display: flex;
  flex: 1; /* Make it grow and fill the available height */
}

.navHeader{
  height: auto;
  display: flex;
  flex-direction: column;  
  justify-content:first baseline;
  align-items: center;
  font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-bottom: 700px;
  
}

.sideManue{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.i_t{
  width: 100%;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px; 
  margin: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
}



a{
  text-decoration: none;
  color: black;
}

.navFotter{
  
  height: auto;
  display: flex;
  flex-direction: column;  
  justify-content:first baseline;
  align-items: center;
  font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.a{
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 20px;
  border-radius: 30px;
  text-align: center;
  font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
  background-color: blue;
}

.b{
  padding: 5px;
   margin-bottom: 5px;
   text-align: center;
   font-size: large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: black;
}










